# .coveragerc to control coverage.py
[run]
omit =
    alea/submitters/local.py
    alea/submitters/slurm.py
    alea/submitters/htcondor.py

[report]
# omit =

# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:
    raise

ignore_errors = True
