alea.egg-info/
alea/__pycache__/
alea/likelihoods/__pycache__/
build/
dist/
src/
*.swp
*sbatch_submission*
*.log
*pdf_cache*
*.tar.gz
development_scripts/*hdf
.vscode
*/jobs/*
*png
*pdf
*submission_*
*root*
*.ipynb_checkpoints*
*.session.vim*
*.env*
__pycache__/
*ipynb
!examples/*.ipynb
