pdf_cache
sbatch_submission
__pycache__
.ipynb_checkpoints
*.egg-info
*.eggs
*.svg
*.swp
*.log
*.tar.gz
*.png
*.pdf
*.ipynb
!notebooks/*.ipynb
*.h5
*.hdf5
!templates/*.h5
!templates/*.hdf5
docs/build
build
