atomicwrites
git+https://github.com/JelleAalbers/blueice
h5py
iminuit
git+https://github.com/XENONnT/inference_interface
iminuit>=2.21.0
matplotlib
mergedeep
multihist
numpy
PyYAML
scipy
setuptools
tqdm
