git+https://github.com/JelleAalbers/blueice.git#egg=blueice
git+https://github.com/XENONnT/inference_interface.git#egg=inference_interface
atomicwrites
h5py
matplotlib
multihist
numpy
PyYAML
scipy
setuptools
tqdm
mergedeep
