atomicwrites
git+ssh://git@github.com/JelleAalbers/blueice.git@main#egg=blueice
h5py
iminuit
git+ssh://git@github.com/XENONnT/inference_interface.git@main#egg=inference_interface
iminuit>=2.21.0
matplotlib
mergedeep
multihist
numpy
PyYAML
scipy
setuptools
tqdm
utilix>=0.7.4
